/* cabeçalho */
@import '@fortawesome/fontawesome-free/css/all.min.css';



header{
    display: grid;
    grid-template-columns: 30fr 30fr;

    width: 100%;
    background: linear-gradient(90deg, #021320 0%, #023A60 51.5%, #022036 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 6rem;
  
    z-index: 3;
    }
  
    /* Menu de Navegação */
.nav-home {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}

/* Ícones */
.icon-container {
  margin: 0 1.5rem; /* Espaçamento ao redor dos ícones */
  cursor: pointer;   /* Muda o cursor para pointer ao passar o mouse */
}

.notification-icon, .menu-icon {
  font-size: 2rem;  /* Tamanho aumentado */
  color: white;     /* Cor branca */
}
/* Ícones do sino de notificações e do menu */
.notification-icon, .menu-icon {
  font-size:3rem;  /* Aumenta o tamanho dos ícones */
  color: white;     /* Define a cor branca */
  margin: 0 0.1rem; /* Espaçamento ao redor dos ícones */
  cursor: pointer;  /* Muda o cursor para pointer ao passar o mouse */
}


    a{
      text-decoration: none;
    }
  
    .nav-home{
      display: flex;
      justify-content: right;
    }
  
  .App-logo{
    margin: 1rem 0 0 4rem;
    width: 7rem;
  }
  
   .opcao-login{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  } 
  
   .perfil-icon{
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
  }
  
  #portalLogin, #acessar{
    margin: 1.5rem 1rem 0;
    font-family: 'Inter';
  }
  
  #portalLogin{
    color: var(--colorText);
    font-size: 16px;
    font-weight: 700;
    
  }
  
  #acessar{
    color: var(--colorTextSecondHeader);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.2rem;
  }
  
  /* body */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Conteúdo do modal */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .modal-content form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .modal-content form input, .modal-content form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-buttons button[type="submit"] {
    background-color: green;
    color: white;
  }
  
  .modal-buttons button[type="button"] {
    background-color: red;
    color: white;
  }
  
  .notification-icon {
    cursor: pointer;
    font-size: 24px;
  }
  